# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.env
*.pid
*.sqlite3

# Pytest cache
.pytest_cache/

# My PyCharm / VSCode misc
*.iml
